@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
#exampleModal > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.title {
  font-size: 1.431vw;
  text-transform: uppercase;
  margin-bottom: 1.5625vw;
}

.text-desc {
  font-size: 1vw;
  text-transform: none;
  margin-bottom: 0;
  margin-top: 1vw;
}

.m-1-vw {
  margin: 2vw 0 0;
}
.p-1-vw {
  padding: 2.5vw 0;
}
html,
body {
  height: 100%;
}

* {
  font-size: 16px;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html,
header,
footer,
main {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;

  /*  width: 100%;
  max-width: 100%;
  min-width: 100%; */

  overflow-x: hidden;
}
main {
  height: 100%;
}
footer ul li:not(:last-child):after {
  content: "";
  width: 1px;
  height: 1rem;
  background: #d9d9d9;
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}
.font-sm {
  font-size: 0.8vw;
}
footer {
  box-sizing: border-box;
  height: auto;
  margin: 0;
  padding: 0;
  margin-top: -1vw;

  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 -4.555555555555555vw !important;
}
#footer ul {
  margin: 0;
  width: max-content;
}
footer ul li {
  display: inline-block;
  vertical-align: middle;
}
main > div {
  /* width: 100%;
  min-width: 100%;
  max-width: 100%; */
}

.rounded-l,
.rounded-r {
  border-radius: 9999px !important;
}

[data-te-input-notch-middle-ref],
[data-te-input-notch-leading-ref],
[data-te-input-notch-ref] {
  display: none !important;
}
footer,
header {
  overflow: hidden;
}

main > section {
  overflow-x: hidden;
  min-height: 100%;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

.q img,
.koc img {
  width: 100vw;
  min-width: 100%;
}

.quotes,
.info {
  padding: 1.0416666666666667vw 0;
}

.info {
  margin-bottom: 5vw;
}
.item-mxh {
  padding: 0 1vw;
}
.peer:placeholder-shown ~ .peer-placeholder-shown\:leading-\[4\] {
  color: #c45f6d;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.0416666666666667vw !important;
  padding-left: 1.0416666666666667vw;

  display: block;
  left: 1vw;
}
.leading-tight,
.zzzzzzzzzz {
  line-height: 2;
  color: #c45f6d !important;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.0416666666666667vw !important;
  padding-left: 1.0416666666666667vw;

  /* color: #c45f6d;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.0416666666666667vw !important;
  padding-left: 1.0416666666666667vw;

  display: block !important;

  line-height: normal;
  left: 0.75vw !important; */
}
.abs-form {
  left: 19.895833333333332vw;
  top: 21vw;
  width: 60vw;
}

span[data-te-validation-feedback] {
  top: -1.8vw;
  font-size: 0.8vw;
  left: 2vw;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  font-family: "Montserrat", sans-serif;
}
.result {
  color: #c45f6d;
  font-size: 0.75vw;
}
.mb-8 {
  margin-bottom: 1.0416666666666667vw !important;
}

.m-form {
  margin-top: 1.0416666666666667vw;
  margin-bottom: 1.0416666666666667vw;
}
.note {
  font-size: 1.2vw;
  margin: 1.5vw -4.555555555555555vw !important;
}
.py-2\.5 {
  padding-top: 1.6666666666666667vw !important;
  padding-bottom: 1.6666666666666667vw !important;
}
.abs-form input {
  line-height: 2;
  color: #c45f6d;
  font-weight: bolder;
  font-size: 1.0416666666666667vw !important;
  padding-left: 1.8vw;
}
.font-title {
  font-size: 2rem;
  line-height: 1rem;
}
#infor_account input,
#infor_register .peer,
#infor_register input,
.btn-dieu-khoan,
.btn-submit {
  color: #fff;
  border: none;
  background-color: #f3b2b8;
}
.koc {
  display: block;
  /* height: 36.458333333333336vw; */
  height: 100.458333vw;
}
.koc > div,
.koc .KOL-0 img {
  /* height: 100%; */
}

video {
  max-width: 30vw;
  width: 30vw;
}

.video {
  text-align: center;
  justify-content: center;
  display: flex;
  vertical-align: middle;
  width: 100%;
  align-items: center;
  height: 100%;
  top: 15vw;
  left: 0;
}

.video video {
  box-shadow: -1px 1px 5px #888;
}

.video video:last-child {
  margin-left: 2vw;
}
.KOL-0 {
  left: 0;
  top: 0;
  user-select: none;
  pointer-events: none;
}

.KOL-1,
.KOL-2,
.KOL-3,
.KOL-4,
.KOL-5 {
  left: 0;
  width: 12.020833vw;
}
.KOL-1 {
  left: 8.5vw;
  top: 11vw;
}
.KOL-2 {
  left: 26vw;
  top: 20vw;
}
.KOL-3 {
  left: 42vw;
  top: 13vw;
}
.KOL-4 {
  left: 60vw;
  top: 20vw;
}
.KOL-5 {
  left: 75vw;
  top: 12vw;
}

#menu-info .active img.ACTIVE {
  display: block;
}
#menu-info .active img.NOACTIVE,
#menu-info img.ACTIVE {
  display: none;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 36px 36px rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}
@media (max-width: 1024px) {
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  .text-desc .note {
    font-size: 1rem;
  }

  .text-desc,
  .note {
    font-size: 2.8vw;
  }

  .koc {
    height: auto;
  }

  .abs-form {
    left: 10vw;
    top: 20vw;
    width: 80vw;
  }

  .abs-form input {
    font-size: 2.5vw !important;
  }
  .leading-tight,
  .zzzzzzzzzz {
    font-size: 2.5vw !important;
  }

  video {
    max-width: 45vw;
    width: 45vw;
    margin: auto;
  }
  .video {
    top: 38vw;
  }

  .note {
    font-size: 1.5vw;
    margin: 0 -4.555555555555555vw !important;
    margin-top: -6vw !important;
  }
  .font-sm {
    font-size: 1.5vw;
  }
  footer ul li:not(:last-child):after {
    display: block;
    content: "";
    height: 0;
    width: 0;
  }
  footer {
    margin: -5vw -4.555555555555555vw !important;
  }

  .title {
    font-size: 3vw;
  }

  span[data-te-validation-feedback] {
    top: 7.2vw;
    font-size: 2vw;
  }

  .note,
  footer .font-sm {
    color: black;
  }

  .item-mxh,
  .item-mxh img {
    width: 10vw !important;
  }

  #exampleModal > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw !important;
    min-width: 80vw !important;
    width: 80vw !important;
  }
  .result {
    color: #c45f6d;
    font-size: 2vw;
  }
}
